<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <!-- import css file form style.css -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="background-header">
        <h1 class="text-bold text-white text-box-shadow text-center text-font-size-header">
            Bài tập ngôn ngữ HTML
        </h1>
    </div>
    <div class="grid-container">
        <div class="slider">
            <ul class="">
                <div class="container-current-item-menu">
                    <li class="current-item-menu text-item-menu">Mẹ</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Phú Quốc</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Định dạng văn bản</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Truyện ngụ ngôn</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Shop hoa tươi</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Excite@Home</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Chương trình học</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Double Rich</li>
                </div>
                <div class="container-item-menu">
                    <li class="item-menu text-item-menu">Free.com</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Việt Nam</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Form đăng nhập</li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">
                        Phiếu đăng ký
                    </li>
                </div>
                <div class="container-item-menu">

                    <li class="item-menu text-item-menu">Đặt tour</li>
                </div>
            </ul>
            <img class="img-slider" src=" ./img/nen-hoa-muc-luc.png" alt="">

        </div>
        <div class="content">
            <div class="container-content">
                <div class="container-content-item">
                    <div class="header-content">
                        <h2 class="text-bold text-font-size-content text-pink text-font-size-content-header">
                            Mẹ !
                        </h2>
                    </div>
                </div>
                <div class="body-content">
                    <div class="paragraph text-blue">
                        <p>
                            <i>
                                Mẹ là cả một trời thương
                                <br>Mẹ là cả một thiên đường trần gian
                                <br>Công ơn cha mẹ tựa biển trời
                            </i>
                        </p>
                    </div>

                    <hr width="25%" size="2px" color="gray" />
                    <div class="paragraph text-purple">
                        <p>
                            <i>
                                Làm sao báo hiếu hỡi người ơi?
                                <br>Nếu chưa báo hiếu đừng bất hiếu
                                <br>Bất hiếu làm ta khổ muôn đời.
                            </i>
                        </p>
                    </div>

                    <hr width="25%" size="2px" color="gray" />
                    <div class="paragraph text-green">
                        <p>
                            <i>
                                Một đời vốn liếng mẹ trao
                                <br> Mẹ cho tất cả mẹ nào giữ riêng
                                <br>Mẹ hiền như một bà tiên
                                <br>Mẹ theo con suốt hành trình con đi</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>